.cart-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.cart-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.cart-address {
  gap: 8px;
  width: 100%;
  height: 56px;
  display: flex;
  padding: 16px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.cart-text {
  color: rgba(99, 117, 135, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text02 {
  color: rgba(99, 117, 135, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text03 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text05 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  margin: var(--dl-space-space-unit);
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-depth4-frame2 {
  gap: 16px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.cart-depth5-frame0 {
  gap: 16px;
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cart-depth6-frame0 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_lkzgkzhhdc-5btu-200h.png");
}
.cart-depth6-frame2 {
  flex: 1;
  width: auto;
  height: 45px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.cart-text07 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text09 {
  color: rgba(99, 117, 135, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text11 {
  color: rgba(17, 20, 22, 1);
  font-size: 16px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-depth4-frame21 {
  gap: 16px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.cart-depth5-frame01 {
  gap: 16px;
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cart-depth6-frame01 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_xb6xxkxbka-cpzp-200h.png");
}
.cart-depth6-frame21 {
  flex: 1;
  width: auto;
  height: 45px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.cart-text13 {
  color: rgb(17, 20, 22);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: "Manrope";
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text14 {
  color: rgb(99, 117, 135);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Manrope";
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text15 {
  color: rgba(17, 20, 22, 1);
  font-size: 16px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-depth4-frame4 {
  gap: 16px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.cart-depth5-frame02 {
  gap: 16px;
  flex: 1;
  width: auto;
  height: 56px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cart-depth6-frame02 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_rrytabj38l-ilhl-200h.png");
}
.cart-depth6-frame22 {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.cart-text17 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text19 {
  color: rgba(99, 117, 135, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text21 {
  color: rgba(17, 20, 22, 1);
  font-size: 16px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-depth4-frame5 {
  gap: 16px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.cart-depth5-frame03 {
  gap: 16px;
  flex: 1;
  width: auto;
  height: 56px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cart-depth6-frame03 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_gkfntxsose-pd3g-200h.png");
}
.cart-depth6-frame23 {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.cart-text23 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text25 {
  color: rgba(99, 117, 135, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text27 {
  color: rgba(17, 20, 22, 1);
  font-size: 16px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-depth4-frame6 {
  gap: 16px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.cart-depth5-frame04 {
  gap: 16px;
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cart-depth6-frame04 {
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("/external/tq_8rhn5q9zub-81t-200h.png");
}
.cart-depth6-frame24 {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.cart-text29 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text31 {
  color: rgba(99, 117, 135, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text33 {
  color: rgba(17, 20, 22, 1);
  font-size: 16px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-depth4-frame7 {
  gap: 16px;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(255, 255, 255, 1);
}
.cart-depth6-frame05 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(239, 242, 244, 1);
}
.cart-depth8-frame0 {
  width: 24px;
  height: 24px;
}
.cart-text35 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-depth4-frame8 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.cart-depth8-frame01 {
  width: 24px;
  height: 24px;
}
.cart-text37 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-depth5-frame05 {
  gap: 24px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.cart-text39 {
  color: rgba(99, 117, 135, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text41 {
  color: rgba(17, 20, 22, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-depth5-frame06 {
  gap: 24px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.cart-text43 {
  color: rgb(99, 117, 135);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Manrope";
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text44 {
  color: rgb(17, 20, 22);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Manrope";
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-depth5-frame07 {
  gap: 24px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.cart-text45 {
  color: rgb(99, 117, 135);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Manrope";
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text46 {
  color: rgb(17, 20, 22);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Manrope";
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-depth4-frame10 {
  width: 100%;
  height: 72px;
  display: flex;
  padding: 12px 16px;
  align-items: flex-start;
  flex-shrink: 0;
}
.cart-depth5-frame08 {
  width: 100%;
  height: 48px;
  display: flex;
  padding: 0 20px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(25, 127, 229, 1);
}
.cart-text47 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 479px) {
  .cart-content {
    padding-left: 0px;
    padding-right: 0px;
  }
}
